
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.navcontainer{
    width: 100%;
    /* background-color: rgba(100, 100, 153, 0.678); */
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav{
    width: 100vw;
    
}
#navlist{
    margin: 0 20px;
    list-style-type: none;
    font-size: 2.5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navlogo{
    font-size: 2.5rem ;
    color: white;
}

a{
    text-decoration: none;
}

#navitems{
    display: flex;
    gap: 40px;
}

.footerbox{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: azure;
    width: 100%;
    text-align: center;
    min-height: 50px;
    /* align-items: center;
    align-content: center; */

}

.footerbox p{
    color: azure;
    font-size: 2rem;
}

.contentbox{
    width: 60%;
    margin: auto;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 40px black;
    /* background: transparent; */
    background: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
}

.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    filter: drop-shadow(0.5rem 0.5rem 0.6rem rgba(0, 0, 0, 0.5))
}

.rightbox img{
    height: 400px;
    width: 300px;
    border-radius: 30px;
    transition: all 0.5s linear 0s;
}

.rightbox:hover{
    transform: scale(1.1);
}

.leftbox{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.leftbox h2{
    font-size: 2rem;
}

.ingbox{
    font-size: 1.4rem;
}

.recbox{
    font-size:1.1rem ;
}

.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34,0, 0.713);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:30px ;
    opacity: 0;
    transition: all .5s linear 0s;
}

.rightbox:hover .overlay{
    opacity: 1;
}

.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;

}