                                                       /* PADDING */
 div.a{
         border: 5px solid black;
         padding-top: 50px;
         padding-right: 30px;
         padding-bottom: 50px;
         padding-left: 80px;
         background-color: orange;
        }