/* .heading2{
    color: red;
    text-decoration: underline;
    background-color: yellow;
}


body{
    background-color: aqua;
}

button{
    background-color: black;
    color: aliceblue;
} */




/* 
#box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aqua;
} */



/* pq2 */

.content{
    color: red;
}

.newClass{
    background-color: green;
}

