                                     
                                     
                                     /* Align-self properties */
.main{
    display: flex;
    border: 5px solid red;
    height: 600px;
    width: 1000px;
    align-items: flex-start;

}

.main div{
    flex: 1;
}
.card1{
    height: 200px;
    width: 300px;
    background-color: greenyellow;


}
.card2{
    height: 220px;
    width: 300px;
    background-color: rgb(47, 71, 255);
    /* align-self: center; */
    /* align-self: self-end; */
    /* align-self: self-start; */


}
.card3{
    height: 180px;
    width: 300px;
    background-color: rgb(255, 47, 57);


}
                                               

